{{#yaml}}{{#relocateFunctions}}<script type="application/javascript">
(function() {
  if (!document.querySelector('.template-reference-topic')) {
    return;
  }

  // locate usage section
  var usage = document.querySelector('pre.usage');
  if (!usage) { return; }

  // Add heading before usage
  var usageH2 = document.createElement('h2');
  usageH2.id='usage';
  usageH2.classList.add('hasAnchor');
  usageH2.innerHTML = `<a class="anchor" href="value"></a>Usage`;
  usage.parentElement.insertBefore(usageH2, usage);

  // grab functions and next element, the list of functions
  var fns = document.getElementById('functions');
  if (!fns) { return; }

  fns = [fns, fns.nextElementSibling];

  // Move Functions before Usage
  fns.forEach(function(el) {
    usageH2.parentElement.insertBefore(el, usageH2);
  });

  // Redraw Toc
  if (typeof window.Toc !== "undefined") {
    document.getElementById('toc').removeChild(document.querySelector('#toc .nav'))
    $('nav[data-toggle="toc"]').each(function(i, el) {
      var $nav = $(el);
      Toc.init($nav);
    });
  }
})();</script>{{/relocateFunctions}}{{/yaml}}
